<h3>Create a new Survey</h3>

<!-- first input -->
<mat-form-field appearance="fill">
  <mat-label>Survey Title</mat-label>
  <input matInput>
</mat-form-field>
<!-- second input -->
<mat-form-field appearance="fill">
<mat-label>Organization</mat-label>
<input matInput>
</mat-form-field>
<!-- third input -->
<mat-form-field appearance="fill">
  <mat-label>Select number of questions</mat-label>
  <mat-select>
    <mat-option value="one">1 question</mat-option>
    <mat-option value="two">2 questions</mat-option>
    <mat-option value="two">3 questions</mat-option>
    <mat-option value="two">4 questions</mat-option>
  </mat-select>
</mat-form-field>
<!-- fourth input -->
<mat-form-field appearance="fill">
  <mat-label>Survey Description</mat-label>
  <textarea matInput></textarea>
</mat-form-field>

<button mat-raised-button color="accent">
  Create Survey
</button>
