<mat-toolbar color="primary">
  <span id="nav-logo">
    <img
      src="../../assets/images/official-logo-web.png"
      alt="Change Together logo"
    />
  </span>
  <div class="spacer"></div>
  <a
    mat-button
    id="nav-home"
    routerLink="/"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="active-page"
    >Home</a
  >
  <span *ngIf="!userIsAuthenticated">
    <a
      mat-button
      id="nav-login"
      routerLink="/login"
      routerLinkActive="active-page"
      [routerLinkActiveOptions]="{ exact: true }"
      >Login</a
    >
    <a
      mat-button
      id="nav-signup"
      routerLink="/signup"
      routerLinkActive="active-page"
      [routerLinkActiveOptions]="{ exact: true }"
      >Signup</a
    >
  </span>
  <span *ngIf="userIsAuthenticated">
    <a
      mat-button
      id="nav-create"
      routerLink="/create"
      routerLinkActive="active-page"
      [routerLinkActiveOptions]="{ exact: true }"
      >Create a Survey</a
    >
  </span>
  <span *ngIf="userIsAuthenticated">
    <a
      mat-button
      id="nav-logout"
      (click)="onLogout()"
      >Logout</a
    >
  </span>
  <a
    mat-button
    id="nav-about"
    routerLink="/about"
    routerLinkActive="mat-accent"
    [routerLinkActiveOptions]="{ exact: true }"
    >About us</a
  >
  <a
    mat-button
    id="nav-contact"
    routerLink="/contact"
    routerLinkActive="mat-accent"
    [routerLinkActiveOptions]="{ exact: true }"
    >Contact</a
  >
</mat-toolbar>
<!-- Hero image, move later to Home component -->
<div id="hero-image">
  <div class="hero-text">
    <h1>Create your own survey for <b>Free</b></h1>
    <p>Create and share your own survey</p>
    <p>... and use our analytical dashboard to get insights.</p>
    <button mat-raised-button color="primary">Try it today!</button>
  </div>
</div>

<!-- Add routers later
<mat-toolbar color="primary">
  <span>User Management</span>
   <div class="spacer"></div>
     <a mat-button routerLink="/users">Home</a>
     <a mat-button routerLink="/add">About</a>
     <a mat-button routerLink="/">Contact</a>
 </mat-toolbar> -->
