<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Change Together</mat-card-title>
      <mat-card-subtitle>Who we are</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Our team was assembled in 2022, consisting on a small team of developers and analysts
      </p>
      <p>Our goal is to develop fullstack solutions to today's problems. We wanted to make it easy to create,
        share and collect all type of surveys, without having to share your data with big tech companies.
      </p>
      <p>In a future update, we will allow the user to encrypt their data, so it will only be visible
        to the creator and the respondents.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
