<app-header></app-header>
<!-- local reference -->
<!-- <textarea [value]="newPost" name="" id="" cols="40" rows="3" #postInput></textarea>
<br>
<button (click)="onAddPost(postInput)">Save post</button>
<p>
  {{ newPost}}
</p> -->

<!-- two-way binding -->
<mat-card>
  <mat-form-field>
    <textarea matInput cols="40" rows="3" [(ngModel)]="enteredValue"></textarea>
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="onAddPost2()">
    Save post
  </button>
</mat-card>
<br />

<p>
  {{ newPost }}
</p>
