<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="surveys.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let survey of surveys">

    <mat-expansion-panel-header>
      <mat-panel-title class="surveyName">
        {{ survey.surveyName }}
      </mat-panel-title>
      <mat-panel-description>
        {{ survey.description }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-card-content>
      <ul>
        <li>
          Name of the organization: {{ survey.organization }}
        </li>
        <li>
          Number of questions: {{ survey.questions }}
          <!-- this displays for now the number of questions, it has to
          display a count of the array of questions in the future -->
        </li>
      </ul>
      <mat-action-row>
        <a mat-button color="primary" [routerLink]="['/edit', survey.id]">Edit</a>
        <button mat-button color="warn" (click)="onDelete(survey.id)">Delete</button>
      </mat-action-row>
    </mat-card-content>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="surveys.length <= 0 && !isLoading">
  There are no surveys to show (create one).
</p>
